# -- R or Rstudio --
.Rproj.user
.Rhistory
.RData

# -- OS --
__MACOSX
.DS_Store

# -- Linux --
.directory

# -- Byte-compiled / optimized / DLL files --
__pycache__/
*.py[cod]
*$py.class

# -- Jupyter Notebook --
.ipynb_checkpoints

# -- IPython --
profile_default/
ipython_config.py

# -- VSCode --
.vscode/*
.history/